<h3 class="title is-3 m-5">All Customers </h3>
<p><%= link_to "Customers - Alphabetized", alphabetized_customers_path %></p>
<p><%= link_to "Customers - no email", missing_email_customers_path %></p>

<div class="columns is-multiline">
 <%= render @customers %>
 </div>